:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDrak:#232528;
  --mainYellow:#ffa400;
}
body{
  font-family: "Roboto", sans-serif !important;
  line-height: 24px;
  font-size: 14px;
  font-weight: normal;
  background: var(--mainWhite) !important;
}
.text-title{
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
  }
  .text-dark{
    color: var(--mainDrak)
  }
.text-bright{
  color: var(--lightBlue);
}
.nav-brand{
  height: 50px;
  width: 80px;
  box-shadow: 10px 5px 5px  #232528;
  border-radius: 5px;  
}
.dropdown {
  float: left;
  overflow: hidden;
}
 a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(179, 166, 166);
}


.dropdown:hover .dropdown-content {
  display: block;
}
.product-list{
  box-shadow: 10px 5px 5px  #abafb6;
}
